/* ----------
   main.css
   ---------- */

/* ---------- General Elements ---------- */

* 
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url('images/background.jpg');
    background-repeat: repeat;
    font-family: /*"Segoe UI Light",*/ Tahoma, Arial;
    font-size: 11pt;
    font-weight: normal;
    font-style: normal;
    color: #444;
}

img
{
	vertical-align: middle;
}

.background
{
	position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

#backgroundCircuit
{
    background-image: url('images/background-circuit.png');
    background-position: center;
    background-repeat: repeat;
}

.container
{
	position: absolute;
	margin: 0 8px 8px 0;
}

.separator-h 
{
    width: 1000px;
    height: 2px;
    background-image: url('images/separator-h.png');
    background-repeat: repeat-y;
}

#mainContainer
{
	margin: auto;
    width: 1000px;
}

/* ---------- The header/banner ---------- */

#tableBanner
{
	width: 1000px;
    padding: 0 12px;
}

#tableBanner tr td
{
    width: 333px;
    vertical-align: bottom;
}

#banner
{
    width: 389px;
    height: 100px;
    text-align: center;
}

/* Status area */
#statusBar
{
    text-align: right;
    font-size: 11pt;
}

/* Buttons */

.headerButton
{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
}

#btnStartOS
{
    background-image: url('images/button-power.png');
}

#btnStartOS:hover
{
    background-image: url('images/button-power-hover.png');
}

#btnStartOS:disabled
{
    background-image: url('images/button-power-disabled.png');
}

#btnReset
{
    background-image: url('images/button-restart.png');
}

#btnReset:hover
{
    background-image: url('images/button-restart-hover.png');
}

#btnReset:disabled
{
    background-image: url('images/button-restart-disabled.png');
}

#btnHaltOS
{
    background-image: url('images/button-halt.png');
}

#btnHaltOS:hover
{
    background-image: url('images/button-halt-hover.png');
}

#btnHaltOS:disabled
{
    background-image: url('images/button-halt-disabled.png');
}

/* ---------- Main Content ---------- */

#mainContent
{
	margin: auto;
	position: relative;
    width: 900px;
    min-height: 900px;
}

#mainContent div
{
	margin-bottom: 5px;
}

#utilsContainer
{
	left: 520px;
}

/* Shell */
#display
{
    background-image: url('images/background.jpg');
    background-repeat: repeat;
    border: 2px solid #666; 
    cursor: default;
}

/* Utilities */

/* The Log */
#log
{
    padding: 0 2px;
    width: 371px;
    height: 200px;
    border: 2px solid #666;
    overflow: scroll;
    white-space: nowrap;
    font-size: 11pt;
}

/* CPU display */
#cpuDisplay
{
	margin: 0 0 5px 0;
	width: 112px;
	height: 135px;
	border: 2px solid #666;
	border-collapse: collapse;
}

#cpuDisplay tr td
{
	padding-right: 5px;
	border-bottom: 1px solid #666;
	text-align: right;
}

#cpuDisplay tr td:last-of-type /* The last column. */
{
	width: 40px;
}

#cpuDisplay tr:last-of-type td /* The last row. */
{
	border: none;
}

#chkbxSingleStep, #chkbxAutoscroll
{
	margin: 0;
	padding-left: 28px;
	line-height: 22px;
	background-image: url('images/check-empty.png');
	background-position-y: center;
	background-repeat: no-repeat;
}

#chkbxSingleStep:hover, #chkbxAutoscroll:hover
{
	cursor: pointer;
	background-image: url('images/check-hover.png') !important;
}

#btnSingleStep
{
	width: 108px;
	line-height: 20px;
	border: 2px solid #666;
	text-align: center;
}

#btnSingleStep:hover
{
	cursor: pointer;
	background-color: #AAAAAA;
}	

/* Memory Display */
#memoryContainer
{
	position: absolute;
	top: 232px;
	left: 125px;
}

#memoryDisplay
{
	padding: 0 2px;
	width: 246px;
	height: 218px;
	border: 2px solid #666;
	overflow-x: hidden;
	overflow-y: scroll;
    white-space: nowrap;
}

/* Ready Queue */
#readyQueueContainer
{
	position: absolute;
	top: 484px;
	left: 125px;
}

#readyQueueDisplay
{
	padding: 0 2px;
	width: 247px;
	height: 96px;
	border: 2px solid #666;
	overflow-x: hidden;
	overflow-y: scroll;
    white-space: nowrap;
}

/* Program Input */
#programInputContainer
{
	position: absolute;
	top: 484px;
	left: 0;
	background-image: url('images/background.jpg');
    background-repeat: repeat;
    z-index: 10;
}

#programInputSubContainer
{
	margin: 0;
	width: 108px;
	height: 96px;
	border: 2px solid #666;
	overflow: hidden;
}

#programInput
{
	padding: 0 2px;
	width: 372px;
	height: 178px;
    background-image: url('images/background.jpg');
    background-repeat: repeat;
    border: none;
}